body{
  padding: 0;
  margin: 0;
  background-image: url(../img/Pizza2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.h1 {
  text-align: center;
}